@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --hue: 255;
    --primary-color: hsl(var(--hue), 53%, 50%);
    --headline: hsl(210, 11%, 15%);
    --paragraph: hsl(210, 9%, 31%);
    --brand-light: hsl(calc(var(--hue) + 2), 100%, 93%);
    --brand-light-2: hsl(calc(var(--hue) - 3), 100%, 97%);
    --brand-btn-hover: hsl(var(--hue), 68%, 30%);
    --bg-light: hsl(0, 0%, 98%);
    --nav-height: 7.2rem;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    overflow: overlay;
    background: var(--bg-light);
}

.wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
    padding-inline: 2.4rem;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

section {
    padding-block: 10rem;
}

section header h4 {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-bottom: 1.6rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
}

section header h2 {
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--headline);
}

section header h1 {
    font-size: 3.4rem;
    color: var(--headline);
    line-height: 130%;
    margin-bottom: 2.4rem;
}

section .content p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--paragraph);
}

.button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 4rem;
    padding: 1.6rem 2.4rem;
    margin-bottom: 6rem;
    width: fit-content;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    text-decoration: none;
    transition: background 200ms;
}

.button:hover {
    background-color: var(--brand-btn-hover);
}

.social-links {
    display: flex;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;
}

.social-links img {
    width: 3.2rem;
}

#services .card circle {
    fill: var(--brand-light);
}

#services .card path {
    stroke: var(--primary-color);
}

#navigation .logo path[fill*='#5F3DC4'],
#backToTopButton circle {
    fill: var(--primary-color);
}

button.open-menu path[stroke*='#5F3DC4'],
#contact li path {
    stroke: var(--primary-color);
}

body.menu-expanded #navigation .logo path,
#navigation.scroll .logo path {
    fill: white;
}

#navigation.scroll button.open-menu path[stroke*='#5F3DC4'] {
    stroke: white;
}

#backToTopBtn circle {
    fill: var(--primary-color);
}

nav {
    display: flex;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.scroll {
    background: var(--primary-color);
}

nav.scroll .logo path {
    fill: white;
}

nav.scroll button path {
    stroke: white;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
}

nav .menu,
nav .close-menu {
    position: fixed;
}

body.menu-expanded {
    overflow: hidden;
}

body.menu-expanded> :not(nav) {
    visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
}

.menu {
    transform: translateX(-100%);
}

body.menu-expanded .menu {
    top: 0;
    left: 0;
    background: var(--primary-color);
    width: 100vw;
    height: 100vh;
    padding-top: var(--nav-height);
    transition: transform 300ms;
    transform: translateX(0);
}

.menu ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-top: 6rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
}

.menu ul li a {
    color: white;
    text-decoration: none;
}

.menu .button {
    background-color: #fff;
    border-radius: 4rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    padding: 1.6rem 3.2rem;
    margin-top: 4.8rem;
    margin-bottom: 8rem;
}

.menu .button:hover {
    background-color: var(--primary-color);
    color: #fff;
    filter: brightness(1.3);
}

body.menu-expanded .logo,
body.menu-expanded button {
    position: relative;
    z-index: 100;
}

body.menu-expanded .logo path {
    fill: white;
}

#home::before {
    content: "";
    width: 100%;
    height: calc(75% + var(--nav-height));
    background-color: var(--brand-light);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#home {
    padding-block: 0;
    padding-top: calc(4.1rem + var(--nav-height));
}

#home .button {
    margin-inline: auto;
}

#home p {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph);
    margin-bottom: 3.2rem;
}

#whatsapp {
    width: 2rem;
}

#doctor {
    width: 26.4rem;
    display: block;
    margin-inline: auto;
}

.stats {
    width: 100%;
    margin-inline: auto;
    background: var(--brand-light-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
    padding-block: 4rem;
    border: solid 1px var(--brand-light);
    border-radius: 0.6rem;
}

.stat h3 {
    font-size: 4.8rem;
    color: var(--headline);
    line-height: 130%;
    margin-bottom: 0.4rem;
}

.stat p {
    margin: 0;
    color: var(--primary-color);
    line-height: 150%;
    font-size: 1.6rem;
}

#services header h2 {
    margin-bottom: 6rem;
}

#services .cards {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

#services .card {
    padding: 2.4rem;
    text-align: left;
    background-color: #fff;
    border: 0.1rem solid var(--brand-light);
    border-radius: 0.6rem;
}

#services .card h3 {
    margin-block: 1.6rem;
}

#about {
    text-align: left;
    background-color: var(--brand-light-2);

}

#about header h2 {
    margin-bottom: 2.4rem;
}

#about .content p {
    margin-top: 2.4rem;
    margin-bottom: 6rem;
}

#contact {
    text-align: left;
}

#contact header {
    margin-bottom: 3.2rem;
}

#contact ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
}

#contact ul li {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

footer {
    background-color: var(--primary-color);
    padding-block: 6rem;
    text-align: left;
    color: white;
}

footer .logo {
    display: inline-block;
    margin-bottom: 2.4rem;
}

footer .logo svg {
    width: 23.6rem;
    height: 3.1rem;
}

footer p {
    color: var(--brand-light-2);
    line-height: 2;
    margin-bottom: 3.2rem;
}

footer .social-links {
    justify-content: flex-start;
}

#backToTopBtn {
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: 200ms;
}

#backToTopBtn.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#backToTopBtn.onFooter circle {
    fill: #fff;
}

#backToTopBtn.onFooter path {
    stroke: var(--primary-color);
}